<!DOCTYPE html>
<html>
	<head>

		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Title -->
		<title>{{title}} - {{config.name}}</title>
		<meta name="keywords" content="Pos机招商加盟,手机pos机加盟,银联pos机加盟,pos机加盟代理,pos收银机,刷卡收款机,手机刷卡机" />
		<meta name="description" content="萍乡财联网络科技有限公司为了满足广大商户的银行卡付款业务，我们提供POS机的安装维护，耗材供应。同时，我司正面向全国诚招POS机加盟代理商。" />

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

		<!-- Stylesheets -->
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
		<link href="css/fontello.css" rel="stylesheet" type="text/css">
		<link href="css/flexslider.css" rel="stylesheet" type="text/css">
		<link href="js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" media="screen" />
		<link href="css/owl.carousel.css" rel="stylesheet" type="text/css">
		<link href="css/responsive-calendar.css" rel="stylesheet" type="text/css">
		<link href="css/chosen.css" rel="stylesheet" type="text/css">
		<link href="jackbox/css/jackbox.min.css" rel="stylesheet" type="text/css" />
		<link href="css/cloud-zoom.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css">
		{{#each _bundles.css}}
            <link rel="stylesheet" href="{{static .}}">
		{{/each}}

		{{{_sections.head}}}

		<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<link href="jackbox/css/jackbox-ie8.css" rel="stylesheet" type="text/css" />
			<link rel="stylesheet" href="css/ie.css">
        <![endif]-->

		<!--[if gt IE 8]>
			<link href="jackbox/css/jackbox-ie9.css" rel="stylesheet" type="text/css" />
		<![endif]-->

		<!--[if IE 7]>
			<link rel="stylesheet" href="css/fontello-ie7.css">
		<![endif]-->

		<style type="text/css">
			.no-fouc {display:none;}
	  	</style>

		<!-- jQuery -->
		<script src="js/jquery-1.11.0.min.js"></script>
		<script src="js/jquery-ui-1.10.4.min.js"></script>

		{{#each _bundles.js.head}}
            <script src="{{static .}}"></script>
		{{/each}}

		{{{_sections.jquery}}}

		<!-- Preloader -->
		<script src="js/jquery.queryloader2.min.js"></script>

		<script type="text/javascript">
		$('html').addClass('no-fouc');

		$(document).ready(function(){

			$('html').show();

			var window_w = $(window).width();
			var window_h = $(window).height();
			var window_s = $(window).scrollTop();

			$("body").queryLoader2({
				backgroundColor: '#f2f4f9',
				barColor: '#63b2f5',
				barHeight: 4,
				percentage:false,
				deepSearch:true,
				minimumTime:1000,
				onComplete: function(){

					$('.animate-onscroll').filter(function(index){

						return this.offsetTop < (window_s + window_h);

					}).each(function(index, value){

						var el = $(this);
						var el_y = $(this).offset().top;

						if((window_s) > el_y){
							$(el).addClass('animated fadeInDown').removeClass('animate-onscroll');
							setTimeout(function(){
								$(el).css('opacity','1').removeClass('animated fadeInDown');
							},2000);
						}

					});

				}
			});

		});
		</script>

	</head>

	<body class="sticky-header-on tablet-sticky-header">

		<!-- Container -->
		<div class="container">

			<!-- Header -->
			<header id="header" class="animate-onscroll">

				<!-- Main Header -->
				<div id="main-header">
					<div class="container">
					<div class="row">

						<div id="logo" class="col-lg-3 col-md-3 col-sm-3">
							<a href="index.html"><img src="img/logo.png" alt="Logo"></a>
						</div>

						<!-- Main Quote -->
						<div class="col-lg-5 col-md-4 col-sm-4">
							<h3>财联网络，一切只为客户。</h3>
						</div>
						<!-- /Main Quote -->

						<!-- service phone -->
						<div class="col-lg-4 col-md-5 col-sm-5">
							<h5><strong>客服专线 </strong><i class="icons icon-phone"></i>0799 6336338</h5>
						</div>
						<!-- /service phone -->
					</div>

					</div>

				</div>
				<!-- /Main Header -->

				<!-- Lower Header -->
				<div id="lower-header">

					<div class="container">

					<div id="menu-button">
						<div>
							<span></span>
							<span></span>
							<span></span>
						</div>
						<span>Menu</span>
					</div>

					<ul id="navigation">

						<!-- Home -->
						<li class="home-button current-menu-item">
							<a href="index.html"><i class="icons icon-home"></i></a>
						</li>
						<!-- /Home -->

						<!-- service system -->
						<li >

							<span>商户服务平台</span>
							<ul>
								<li><a target="_blank" href="http://cu.ruiyinxin.com/page/login/login.jsp">商户交易查询</a></li>
								<li><a target="_blank" href="http://cu.ruiyinxin.com/page/login/login.jsp">客户信息</a></li>
								<li><a target="_blank" href="http://cu.ruiyinxin.com/page/login/login.jsp">结算查询</a></li>
								<li><a target="_blank" href="http://cu.ruiyinxin.com/page/login/login.jsp">交易对账单</a></li>
								<li><a target="_blank" href="http://119.254.93.66:6080/amp/index.jsp">内部管理系统</a></li>
							</ul>
						</li>
						<!-- /service system -->

						<li><a href="banli.html">办理POS机</a></li>
						<li><a href="zhaoshang.html">全国招商</a></li>

						<!-- product -->
						<li >

							<span>产品介绍</span>
							<ul>
								<li><a href="products.html">POS机产品</a></li>
								<li><a href="questions.html">常见问题</a></li>
								<li><a href="after-sales.html">售后服务</a></li>
							</ul>
						</li>
						<!-- /product -->

						<!-- about us -->
						<li >
							<span>关于我们</span>
							<ul>
								<li><a href="news.html">新闻公告</a></li>
								<li><a href="service-map.html">网点分布</a></li>
								<li><a href="contact-us.html">联系我们</a></li>
							</ul>
						</li>
						<!-- /about us -->

						<!-- shop -->
						<li class="donate-button ">
							<a target="_blank" href="http://6336338.taobao.com/">淘宝官方旗舰店</a>
						</li>
						<!-- /shop -->

					</ul>
					</div>
				</div>
				<!-- /Lower Header -->
			</header>
			<!-- /Header -->

		<section id="content">

			{{! 页面内容 }}
			{{{body}}}

		</section>




			<!-- Footer -->
			<footer id="footer">

				<!-- Main Footer -->
				<div id="main-footer">

					<div class="row">

						<div class="col-lg-3 col-md-3 col-sm-6 animate-onscroll">

							<h4>公司简介</h4>

							<p>我们是拥有第三方支付牌照公司的全国收单机构，在几年的市场经营中，拥有了一定的知名度，也得到了很多顾客的认可。
								<br>我们郑重承诺，您在我们这办理的每一台POS机都是质量保障，资金安全的。更承诺，
								我们每一台POS机都是正规第三方支付公司办理的一清机，有独立后台，您可以随时查询每一笔交易的资金流向。
								<br>如果您有任何疑问，欢迎您拨打公司联系电话<a href="tel:0799-6336338">0799-6336338</a></p>

						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 animate-onscroll">

							<h4>合作银行</h4>

							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 menu-container">

								<ul class="menu">
									<li><a href="#">南昌银行</a></li>
									<li><a href="#">中信银行</a></li>
									<li><a href="#">深发银行</a></li>
									<li><a href="#">浦发银行</a></li>
									<li><a href="#">恒丰银行</a></li>
								</ul>

							</div>

							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 menu-container">

								<ul class="menu">
									<li><a href="#">光大银行</a></li>
									<li><a href="#">富民银行</a></li>
									<li><a href="#">广发银行</a></li>
									<li><a href="#">招商银行</a></li>
									<li><a href="#">华夏银行</a></li>
								</ul>

							</div>

						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 animate-onscroll">

							<h4>合作机构</h4>

							<ul class="menu">
								<li><a href="#">瑞银信</a></li>
							</ul>

						</div>

						<div class="col-lg-3 col-md-3 col-sm-6 animate-onscroll">

							<h4>微信公众平台</h4>

							<img src="img/qrcode_187.png" alt="">
						</div>

					</div>

				</div>
				<!-- /Main Footer -->

				<!-- Lower Footer -->
				<div id="lower-footer">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4 animate-onscroll">
							<p class="copyright">© 2015 萍乡财联网络科技有限公司  版权所有</p>
						</div>

						<div class="col-lg-8 col-md-8 col-sm-8 animate-onscroll">
							<p class="copyright"><a target="_blank" style="color: #333;" href="http://www.miitbeian.gov.cn/">赣ICP备14006872号</a></p>
						</div>

					</div>

				</div>
				<!-- /Lower Footer -->


			</footer>
			<!-- /Footer -->



			<!-- Back To Top -->
			<a href="#" id="button-to-top"><i class="icons icon-up-dir"></i></a>

		</div>
		<!-- /Container -->

		<!-- JavaScript -->

		<!-- Bootstrap -->
		<script type="text/javascript" src="js/bootstrap.min.js"></script>

		<!-- Modernizr -->
		<script type="text/javascript" src="js/modernizr.js"></script>

		<!-- Sliders/Carousels -->
		<script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
		<script type="text/javascript" src="js/owl.carousel.min.js"></script>

		<!-- Revolution Slider  -->
		<script type="text/javascript" src="js/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
		<script type="text/javascript" src="js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

		<!-- Calendar -->
		<script type="text/javascript" src="js/responsive-calendar.min.js"></script>

		<!-- Raty -->
		<script type="text/javascript" src="js/jquery.raty.min.js"></script>

		<!-- Chosen -->
		<script type="text/javascript" src="js/chosen.jquery.min.js"></script>

		<!-- jFlickrFeed -->
		<script type="text/javascript" src="js/jflickrfeed.min.js"></script>

		<!-- InstaFeed -->
		<script type="text/javascript" src="js/instafeed.min.js"></script>

		<!-- Twitter -->
		<script type="text/javascript" src="php/twitter/jquery.tweet.js"></script>

		<!-- MixItUp -->
		<script type="text/javascript" src="js/jquery.mixitup.js"></script>

		<!-- JackBox -->
		<script type="text/javascript" src="jackbox/js/jackbox-packed.min.js"></script>

		<!-- CloudZoom -->
		<script type="text/javascript" src="js/zoomsl-3.0.min.js"></script>

		<!-- Main Script -->
		<script type="text/javascript" src="js/script.js"></script>


		<!--[if lt IE 9]>
			<script type="text/javascript" src="js/jquery.placeholder.js"></script>
			<script type="text/javascript" src="js/script_ie.js"></script>
		<![endif]-->

		<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2e40affca1e4f8311e72d5438a368f65' type='text/javascript'%3E%3C/script%3E")) </script>
	</body>

</html>